<div class="container-md">
    <ul class="nav nav-tabs nav-justified mt-2">
        <li class="nav-item">
            <a *ngIf="currentDisplay !='ITEM'" class="nav-link" role="button" (click)="currentDisplay='ITEM'">Items</a>
            <a *ngIf="currentDisplay =='ITEM'" class="nav-link active" role="button"
                (click)="currentDisplay='ITEM'">Items</a>
        </li>
        <li class="nav-item">
            <a *ngIf="currentDisplay !='PACKAGE'" class="nav-link" role="button"
                (click)="currentDisplay='PACKAGE'">Packages</a>
            <a *ngIf="currentDisplay =='PACKAGE'" class="nav-link active" role="button"
                (click)="currentDisplay='PACKAGE'">Packages</a>
        </li>
        <li class="nav-item">
            <a *ngIf="currentDisplay !='ORDER'" class="nav-link" role="button"
                (click)="currentDisplay='ORDER'">Orders</a>
            <a *ngIf="currentDisplay =='ORDER'" class="nav-link active" role="button"
                (click)="currentDisplay='ORDER'">Orders</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="card" *ngIf="currentDisplay == 'ITEM'">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control form-control-sm" (keyup)="filterItems($event)"
                                placeholder="search for item">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-secondary float-right btn-sm" type="button"
                                data-toggle="modal" data-target="#itemModal"> <i class="fas fa-plus-circle"></i> New
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" *ngFor="let item of filteredItems">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img img-fluid" src="{{utilGetImageUrl(item.imageUrl)}}"
                                        alt="Card image cap">
                                </div>
                                <div class="col-6">
                                    {{item.name}}
                                    <small class="form-text text-muted">
                                        {{item.description}}
                                    </small>
                                </div>
                                <div class="col-2">
                                    Ksh {{item.unitPrice}}
                                    <small class="form-text text-muted">
                                        per {{item.unit}}
                                    </small>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                        title="Add to cart">Add</button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card" *ngIf="currentDisplay == 'PACKAGE'">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group input-group-sm col-8">
                                <input type="text" class="form-control" (keyup)="filterPackages($event)"
                                    placeholder="search for package/item">
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-secondary btn-sm float-right" type="button"
                                data-toggle="modal" data-target="#packageModal"> <i class="fas fa-plus-circle"></i> New
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-6" *ngFor="let package of filteredPackages">
                            <div class="row">
                                <div class="col-md-6 mb-0">
                                    <img class="img img-fluid mb-0" src="{{utilGetImageUrl(package.imageUrl)}}"
                                        alt="Card image cap">
                                </div>
                                <div class="col-md-6 ml-0">
                                    <h6>{{package.name}} => KSh {{package.totalCost}}</h6>
                                    <small class="form-text text-muted mt-0 d-sm-none d-none d-sm-block">
                                        {{package.description}}
                                    </small>
                                    <table class="table table-sm table-responsive table-hover mb-0">
                                        <tbody>
                                            <tr *ngFor="let item of package.items">
                                                <td>{{item.name}}</td>
                                                <td *ngIf="item.quantity > 1">{{item.quantity}} {{item.unit}}s</td>
                                                <td *ngIf="item.quantity == 1">{{item.quantity}} {{item.unit}}</td>
                                                <td>{{item.totalPrice}} /=</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="currentDisplay == 'ORDER'">
                <div class="card-header">

                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 card mt-2" *ngFor="let order of orders">
                            <div class="row">
                                <div class="col-6">
                                    <table class="table table-sm table-responsive table-hover mb-0">
                                        <tbody>
                                            <tr>
                                                <th> Item</th>
                                                <th> Qty</th>
                                                <th> Total</th>
                                                <th> Comments</th>
                                            </tr>
                                            <tr *ngFor="let item of order.items">
                                                <td>{{item.name}}</td>
                                                <td *ngIf="item.quantity > 1">{{item.quantity}} {{item.unit}}s</td>
                                                <td *ngIf="item.quantity == 1">{{item.quantity}} {{item.unit}}</td>
                                                <td>{{item.totalCost}} /=</td>
                                                <td>{{item.comments}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="table table-sm table-responsive table-hover mb-0 mt-2">
                                        <tbody>
                                            <tr>
                                                <th> Items Cost </th>
                                                <th> Delivery Cost</th>
                                                <th> Total Cost</th>
                                            </tr>
                                            <tr>
                                                <td>{{order.itemsCost}} /=</td>
                                                <td>{{order.deliveryCost}} /=</td>
                                                <td>{{order.totalCost}} /=</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-6">
                                    <label class="form-text"><strong>Due:</strong> {{order.deliveryDetails.date}}
                                        {{order.deliveryDetails.time}}</label>
                                    <label class="form-text"><strong>Customer:</strong>
                                        {{order.deliveryDetails.name}}</label>
                                    <label class="form-text"><strong>Phone:</strong> {{order.deliveryDetails.msisdn}} /
                                        {{order.deliveryDetails.alternativeMsisdn}}</label>
                                    <label class="form-text"><strong>Adress:</strong>
                                        {{order.deliveryDetails.address}}</label>
                                    <small class="form-text">{{order.deliveryDetails.notes}}</small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <!-- New Item -->
        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="itemModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="itemCreationForm" role="form" novalidate [formGroup]="itemCreationForm">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="unit">Type</label>
                                    <select id="unit" formControlName="unit" class="form-control">
                                        <option value="pc">Piece</option>
                                        <option value="kg">Kilogram</option>
                                        <option value="tin">Tin (Kasuku)</option>
                                        <option value="bunch">Bunch (Tied)</option>
                                    </select>
                                </div>
                                <div class="form-group col-8">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Ripe Bananas"
                                        formControlName="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" class="form-control" id="description"
                                    formControlName="description" placeholder=""></textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label for="price">Items</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="unitItems"
                                            formControlName="unitItems">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">@</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control" id="unitPrice"
                                        formControlName="unitPrice">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-8">
                                    <label for="exampleFormControlFile1">Image</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                        (change)="changeFile(imageInput)" #imageInput>
                                </div>

                                <div class="form-group col-4">
                                    <br />
                                    <button type="button" (click)="uploadFile()"
                                        class="btn btn-sm btn-outline-primary float-right">Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning float-left" data-dismiss="modal"
                            id="cancelItemModalButton">Close</button>
                        <button type="button" class="btn btn-primary" (click)="saveItem()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Modal -->
        <div class="modal fade" id="packageModal" tabindex="-1" role="dialog" aria-labelledby="packageModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="packageModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form role="form" novalidate>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" placeholder="Fruits Package"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="newPackage.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="newPackage.description" placeholder=""></textarea>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-8">
                                    <label for="exampleFormControlFile1">Image</label>
                                    <input type="file" class="form-control-file"
                                        (change)="changeFile(packageImageInput)" #packageImageInput>
                                </div>

                                <div class="form-group col-4">
                                    <br />
                                    <button type="button" (click)="uploadFile()"
                                        class="btn btn-sm btn-outline-primary float-right">Upload</button>
                                </div>
                            </div>

                            <hr>
                            <div class="form-row">
                                <div class="form-group col-8">
                                    <h5>Items</h5>
                                </div>
                                <div class="form-group col-4">
                                    <button type="button" (click)="addItemToPackage()"
                                        class="btn btn-sm btn-primary float-right">Add Item</button>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="unit">Item</label>
                                </div>
                                <div class="form-group col-4">
                                    <label for="unit">Quantity</label>
                                </div>

                                <div class="form-group col-4">
                                    <label for="unit">Cost</label>
                                </div>
                            </div>

                            <div *ngFor="let packageItem of newPackage.items">
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <select class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="packageItem.itemId" (ngModelChange)="changePackageItem()">
                                            <option value="{{item.id}}" *ngFor="let item of items">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                            (ngModelChange)="changePackageItem()" [(ngModel)]="packageItem.quantity">
                                    </div>

                                    <div class="form-group col-2">
                                        <input disabled class="form-control" value={{packageItem.unit}}>
                                    </div>

                                    <div class="form-group col-4">
                                        <input disabled class="form-control" value={{packageItem.itemCost}}>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <label> Total: KSH {{newPackage.totalPrice}}</label>
                        <button type="button" class="btn btn-warning float-left" data-dismiss="modal"
                            id="cancelPackageModalButton">Close</button>
                        <button type="button" class="btn btn-primary" (click)="savePackage()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>