<div class="container-md">
    <div class="row">
        <div class="ml-4 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M8 9h-7.161l-.839-2h8v2zm0 2h-6.322l.839 2h5.483v-2zm8.53-4h-6.53v2h5.966l.564-2zm-1.694 6l.564-2h-5.4v2h4.836zm-6.336 5c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm11.305-15l-3.432 12h-13.017l.839 2h13.659l3.474-12h1.929l.743-2h-4.195zm-6.305 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
            </svg>
            <strong class="d-inline ml-3 mb-0">SOKONI</strong>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 d-none d-md-block d-xl-block">
            <div class="card">
                <div class="card-header">
                    <strong>How to Order</strong>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2">1. Select a package</li>
                    <li class="list-group-item p-2">2. Add it to the cart</li>
                    <li class="list-group-item p-2">3. Add any more items you need.</li>
                    <li class="list-group-item p-2">4. Purchase.</li>
                    <li class="list-group-item p-2">5. Pay on delivery.</li>
                </ul>
            </div>
        </div>

        <div class="col-md-8" *ngIf="stage == 1">
            <div class="card h-100">
                <div class="card-header text-success">
                    Order Successfull
                    <button class="btn btn-primary btn-sm float-right" routerLink="">
                        < Back Home</button>
                </div>

                <div class="card-body">
                    <p>Thank you for making an order with us. Your order has been received and our team will contact you
                        through the shared contact to finalize the details.</p>
                    <hr>
                    <p>Delivery cost will be shared with you upon agreement with customer care team. The following
                        delivery modes are supported:</p>
                    <ol>
                        <li>Delivery to your home address (Price varies)</li>
                        <li>Pick up from Juja stage area. (Free unless items are very bulky)</li>
                    </ol>
                    <hr>
                    <small class="form-text m-0"><strong>NB: </strong>To cancel this order, inform our agent when they
                        call you.</small>
                </div>
            </div>
        </div>


        <div class="col-md-8" *ngIf="stage == 0">
            <div class="card">
                <div class="card-header">
                    <strong>Cart Items</strong>
                    <button class="btn btn-warning btn-sm float-right" routerLink="">Modify Cart</button>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 h-100" *ngFor="let item of cart.items">
                            <div class="row">
                                <div class="col-4 p-1">
                                    <img class="img img-fluid img-thumbnail" src="{{item.imageUrl}}">
                                </div>
                                <div class="col-8">
                                    <h6 *ngIf="item.quantity == 1" class="m-0"><strong>{{item.name}}</strong> -
                                        <em>{{item.quantity}}
                                            {{item.unit}}</em></h6>
                                    <h6 *ngIf="item.quantity > 1" class="m-0"><strong>{{item.name}}</strong> -
                                        <em>{{item.quantity}} {{item.unit}}s</em></h6>
                                    <!-- <small class="form-text">{{item.description}}</small> -->
                                    <label *ngIf="item.unitItems == 1">{{item.unitPrice}} /= per {{item.unit}}</label>
                                    <label *ngIf="item.unitItems > 1">{{item.unitItems}} {{item.unit}}s
                                        @{{item.unitPrice}} /=</label>
                                    <strong class="float-right">KSH {{item.totalPrice}}</strong>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Notes</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm m-0"
                                            [(ngModel)]="item.deliveryNotes" placeholder="E.g I prefer ripe ones">
                                    </div>

                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-center">Delivery Details</h6>
                            <hr>
                            <form role="form" class="needs-validation" novalidate>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control form-control-sm" required
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="cart.deliveryDetails.name" placeholder="Peter Mutisya">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Phone Number</label>
                                        <input type="tel" class="form-control form-control-sm" required
                                            [ngModelOptions]="{standalone: true}" placeholder="0723456789"
                                            [(ngModel)]="cart.deliveryDetails.msisdn">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Alternative Contact (Optional)</label>
                                        <input type="tel" class="form-control form-control-sm" placeholder="0734567890"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="cart.deliveryDetails.alternativeMsisdn">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="inputAddress">Delivery Address</label>
                                        <input type="text" class="form-control form-control-sm" required
                                            placeholder="Juja South Estate" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="cart.deliveryDetails.address">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="inputAddress">Delivery Date</label>
                                        <input type="date" class="form-control form-control-sm" required
                                            value="2020-01-01" placeholder="Juja South Estate"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="cart.deliveryDetails.date">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="inputAddress">Preferred Time</label>
                                        <input type="time" class="form-control form-control-sm"
                                            [ngModelOptions]="{standalone: true}" placeholder="Juja South Estate"
                                            [(ngModel)]="cart.deliveryDetails.time">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        <label for="inputAddress">Delivery Notes</label>
                                        <textarea type="text" class="form-control form-control-sm" required
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="cart.deliveryDetails.notes"
                                            placeholder="Describe the area. E.g Black gate at Juja Arcade"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6 mb-0">
                                        <label for="inputAddress">Total Cost : KSh {{cart.totalPrice}} (To be paid on
                                            delivery)</label>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <button type="submit"
                                            [disabled]="!cart.deliveryDetails || !cart.deliveryDetails.name || !cart.deliveryDetails.msisdn || !cart.deliveryDetails.address || !cart.deliveryDetails.date"
                                            class="btn btn-primary btn-sm float-right"
                                            (click)="purchase()">Purchase</button>
                                    </div>
                                </div>
                                <small class="form-text"><strong>NB: </strong>Delivery Charges range from
                                    <strong>FREE</strong> up to
                                    <strong>100/=</strong>
                                    based on the destination and total weight. This is communicated before any purchase
                                    is made.</small>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>