.navbar {
    background-color: #fff!important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
    padding: 10px 50px;
  
    .navbar-brand {
      font-family: 'Baloo Tamma 2', cursive;
      font-weight: 600;
      letter-spacing: 1px;
      color: #58af9b;
      font-size: 1.4rem;
    }
  
    .login-btn {
      background-color: transparent;
      border: none;
      font-weight: 600;
      color: #5f6368;
      letter-spacing: 1px;
    }
  
    .login-btn:hover {
      color: #3c4043;
    }
  
    .register-btn {
      background-color: #58af9b;
      border-radius: 50px;
      padding: 5px 20px;
      border: none;
      font-weight: 600;
      color: #fff;
      letter-spacing: 1px;
      font-size: 0.9rem;
    }
  }
  
  
  @media (max-width : 760px) {
  
    .navbar {
      padding: 5px 10px;
    }
  
  }
  