<div class="container-md">
    <div class="row mt-2">
        <div class="col-md-2 d-none d-md-block d-xl-block">
            <div class="ml-2 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M8 9h-7.161l-.839-2h8v2zm0 2h-6.322l.839 2h5.483v-2zm8.53-4h-6.53v2h5.966l.564-2zm-1.694 6l.564-2h-5.4v2h4.836zm-6.336 5c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm11.305-15l-3.432 12h-13.017l.839 2h13.659l3.474-12h1.929l.743-2h-4.195zm-6.305 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
                </svg>
                <strong class="d-inline ml-3 mb-0">SOKONI</strong>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>How to Order</strong>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2">1. Select a package</li>
                    <li class="list-group-item p-2">2. Add it to the cart</li>
                    <li class="list-group-item p-2">3. Add any more items you need.</li>
                    <li class="list-group-item p-2">4. Purchase.</li>
                    <li class="list-group-item p-2">5. Pay on delivery.</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <img src="../assets/delivery.jpeg" class="img-fluid" style="max-height: 200px; width: 100%;"
                alt="Responsive image">
            <section class="card-header mt-2 p-0 bg-transparent">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Packages</h4>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" (keyup)="filterPackages($event)"
                                placeholder="search for package/item">
                        </div>
                    </div>
                </div>
            </section>


            <div class="row">
                <div class="col-md-12 mt-1" *ngFor="let package of filteredPackages">
                    <div class="card">
                        <div class="card-header pt-1 pb-1">
                            <strong>{{package.name}}</strong>
                            <label class="ml-4"> => KSh {{package.totalCost}}</label>
                            <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="tooltip"
                                (click)="addPackageToCart(package.id)" title="Add to cart">+ Add to cart</button>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 mb-0">
                                <img class="img img-fluid mb-0" src="{{utilGetImageUrl(package.imageUrl)}}" alt="Card image cap">
                            </div>
                            <div class="col-md-6 ml-0">
                                <table class="table table-sm table-responsive table-hover mb-0">
                                    <tbody>
                                        <tr *ngFor="let item of package.items">
                                            <td>{{item.name}}</td>
                                            <td *ngIf="item.quantity > 1">{{item.quantity}} {{item.unit}}s</td>
                                            <td *ngIf="item.quantity == 1">{{item.quantity}} {{item.unit}}</td>
                                            <td>{{item.totalPrice}} /=</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <small class="form-text text-muted mt-0 d-sm-none d-none d-sm-block">
                                    {{package.description}}
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M8 9h-7.161l-.839-2h8v2zm0 2h-6.322l.839 2h5.483v-2zm8.53-4h-6.53v2h5.966l.564-2zm-1.694 6l.564-2h-5.4v2h4.836zm-6.336 5c-.828 0-1.5.672-1.5 1.5 0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm11.305-15l-3.432 12h-13.017l.839 2h13.659l3.474-12h1.929l.743-2h-4.195zm-6.305 15c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5z" />
                    </svg>
                    <strong> Cart</strong>
                    <button *ngIf="cart.items.length" type="button" class="btn btn-sm btn-warning float-right"
                        data-toggle="tooltip" (click)="emptyCart()" title="Add to cart">X Empty Cart</button>
                </div>

                <div class="card-body" *ngIf="!cart || !cart.items.length">
                    <p>Cart is empty. Please add a package or select individual items</p>
                </div>
                <div class="table-responsive pl-1 pr-1" *ngIf="cart.items.length">
                    <table class="table table-sm table-hover mb-0">
                        <caption class="m-0">Finished shopping? <button class="btn btn-primary btn-sm float-right"
                                routerLink="order">Make Order</button></caption>
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cart.items">
                                <td>{{cartItem.name}}</td>
                                <td hidden width="20%"><input type="number" class="form-control form-control-sm pl-3"
                                        (change)="reCalculateCartPrice()" [(ngModel)]="cartItem.quantity"></td>
                                <td width="40%">
                                    <div class="input-group input-group-sm">
                                        <input type="number" class="form-control form-control-sm"
                                            (change)="reCalculateCartPrice()" [(ngModel)]="cartItem.quantity">
                                        <div class="input-group-append">
                                            <span *ngIf="cartItem.quantity > 1"
                                                class="input-group-text">{{cartItem.unit}}s</span>
                                            <span *ngIf="cartItem.quantity == 1"
                                                class="input-group-text">{{cartItem.unit}}&nbsp;</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="pl-3 mt-1">{{cartItem.totalPrice}} /=</td>
                            </tr>
                            <tr class="table-primary">
                                <td>Totals</td>
                                <td>15</td>
                                <td class="pl-3">{{cart.totalPrice}} /=</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mt-2 mb-5">
                <section class="card-header pt-1 pb-0 pr-0 bg-transparent">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Items</strong>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" (keyup)="filterItems($event)"
                                    placeholder="search for item">
                            </div>
                        </div>
                    </div>
                </section>

                <div class="overflow-auto" style="max-height: 50vh;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pt-1 pb-1" *ngFor="let item of filteredItems">
                            <div class="row">
                                <div class="col-6">
                                    {{item.name}}
                                    <small class="form-text text-muted">
                                        {{item.description}}
                                    </small>
                                </div>
                                <div class="col-3">
                                    Ksh {{item.unitPrice}}
                                    <small class="form-text text-muted">
                                        per {{item.unit}}
                                    </small>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                        (click)="addItemToCart(item.id)" title="Add to cart">Add</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>